* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f4f4f4;
  color: #444;
}
/* HERO SECTION */
.top-nav {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  color: #fff;
  font-size: 14px;
  z-index: 10; 
}
.top-nav .logo {
  font-weight: 600;
}
.top-nav .login {
  opacity: 0.8;
}
.hero {
  background: #2ea3f2;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
  color: #fff;
    position: relative;
}
.hero-img {
  width: 380px;
  position: absolute; 
  bottom: 0;          
  right: 100px;       
}
.hero-text h1 {
  font-size: 40px;
  line-height: 1.3;
}
.email-box {
  margin-top: 20px;
}
.email-box input {
  padding: 12px;
  width: 230px;
  border: none;
  border-radius: 4px;
}
.email-box button {
  padding: 12px 20px;
  border: none;
  background: #f7a841;
  color: white;
  border-radius: 4px;
  margin-left: 5px;
}
.hero-img {
  width: 360px;
}
/* SECTION BLOCKS */
.section-block {
  text-align: center;
  padding: 70px 60px;
  background: #f4f4f4;
}
.section-block h2 {
  color: #333;
  margin-bottom: 10px;
}
.section-sub {
  max-width: 650px;
  margin: 0 auto 50px;
  color: #888;
  font-size: 14px;
}
/* FEATURES */
.features-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}
.feature {
  width: 260px;
}
.feature img {
  width: 100px;
  margin-bottom: 15px;
}
.feature h3 {
  color: #666;
  margin-bottom: 10px;
}
.feature p {
  color: #999;
  font-size: 13px;
}
/* INVITE BAR */
.invite-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.invite-bar input {
  padding: 10px;
  width: 260px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.invite-bar button {
  padding: 10px 20px;
  background: #f7a841;
  border: none;
  color: white;
  border-radius: 4px;
}
/* MID IMAGE */
.mid-img {
  width: 220px;
  margin-top: 30px;
}
/* TEAM SECTION */
.team-row {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}
.member img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.member h4 {
  margin-bottom: 8px;
  color: #444;
}
.member p {
  max-width: 250px;
  margin: auto;
  font-size: 13px;
  color: #888;
}
/* CONTACT */
.contact {
  text-align: center;
  padding: 70px 20px;
}
.contact form {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact input,
.contact textarea {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact textarea {
  height: 120px;
}
.contact button {
  width: 150px;
  padding: 12px;
  background: #f7a841;
  color: #fff;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
}
